<div class="c-banner o-grid u-cf {{ className }}">
  <div class="c-banner__indicator o-grid__col--1/12 u-p1 u-al-center">
    <span class="u-w700">{{ ind }}</span>
  </div>
  <div class="o-grid__col--11/12 u-px2 u-py1">
    <span class="u-w400">{{ text }}</span>
  </div>
</div>
