<!DOCTYPE html>
<html class="u-anti">
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,800,700,200,100,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/styles/bundle.css" />
    <title>Pair Request | Styleguide</title>
  </head>
  <body>
    <header class="c-header u-p3">
      <div class="o-grid u-cf">
        <div class="o-grid__col--6/12">
          <h1 class="h6 u-w400">Pair Request</h1>
        </div>
        <div class="o-grid__col--6/12 u-right">
          <h1 class="h6 u-w400">Pair Request</h1>
        </div>
      </div>

    </header>
    <header class="u-p3 u-center@md">
      <h1 class="u-w300">Pair Request</h1>
    </header>
    <section class="o-container--md u-px3 u-mx-auto">
      {{> banner ind="1/2" text="What do you need help with?" className="u-mb4" }}
      <div class="">
        {{> label text="A Brief Description" className="u-mb3"}}
        {{> textarea placeholder="What do you need help with?" className="u-mb4" }}
      </div>
      <div class="">
        {{> label text="The Whole Story" className="u-mb3"}}
        {{> textarea placeholder="What do you need help with?" className="u-mb4" }}
      </div>
      <hr />
      <div class="u-right u-py3">
        <a href="#" class="c-btn">Button ></a>
      </div>
    </section>
    <section class="o-container--md u-px3 u-mx-auto">
      {{> headlines }}
    </section>
    <section class="u-center u-py4 u-px3">
      <a href="#" class="c-btn">Button</a>
      <a href="#" class="c-btn c-btn--green">Button</a>
    </section>
    {{> forms }}
  </body>
</html>
