:root {
  --banner-color: var(--liteSlate);
}

.c-banner {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--banner-color);
}


.c-banner__indicator {
  background: var(--banner-color);
  color: var(--liteBlue-1);
}
