@import 'obsidian.css/lib/settings';
@import 'obsidian.css/lib/generic';
@import 'obsidian.css/lib/elements';
@import 'obsidian.css/lib/objects';

/* Local Components */

@import './components/buttons';
@import './components/header';
@import './components/color-blocks';
@import './components/banner';
@import './components/textarea';
@import './components/label';
@import './components/time-slot';


@import 'obsidian.css/lib/utilities';


:root {
  --default: 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  --headlines: var(--default);
  --bkg: #F0F6F9;
  --white: #F3FAFF;
  --liteBlue-1: #E1EDF4;
  --liteBlue-2: #E8EEEF;
  --green: #88DB6D;
  --darkSlate: #3C586D;
  --liteSlate: #8BAFB7;
  --yellow: #FFD431;
  --orangePink-1: #E95017;
  --orangePink-2: #FA7B40;

  --gradient-greenLight-1: #C6FF22;
  --gradient-greenLight-2: #5AC1A7;
  --gradient-greenLight: linear-gradient(var(--gradient-greenLight-1) 0%, var(--gradient-greenLight-2) 100%);

  --gradient-greenDark-1: #4D6D63;
  --gradient-greenDark-2: #3E6675;
  --gradient-greenDark: linear-gradient(var(--gradient-greenDark-1) 0%, var(--gradient-greenDark-2) 100%);


  --radius: 5px;
  --form-border: 2px;
}

html {
  background: var(--bkg);
  color: var(--darkSlate);
}
